{ 
  "api_addr": "{{ lookup('env', 'VAULT_ADDR') }}",
  "backend": {
    "file": {
      "path": "/vault/file"
    }
  },
  "listener": {
    "tcp":{
      "address": "0.0.0.0:8200",
      "tls_cert_file": "{{ lookup('env', 'VAULT_SERVER_CERT') }}",
      "tls_key_file": "{{ lookup('env', 'VAULT_SERVER_KEY') }}",
      "tls_enable": "true"
    }
  },
  "ui": true
}

